extends ../layouts/default

block content
  script#resources-template(type="text/x-handlebars-template")
    thead
      tr
        td Resource
        td Text
        td Action
    | {{#each this}}
    tr
      td
        p(class="title") {{resource}}
      td
        p(class="title") {{text}}
      td
        a(href="/resources/{{_id}}") Add
    | {{/each}}
  script#permissions-template(type="text/x-handlebars-template")
    thead
      tr
        td Permission
        td Action
    | {{#each this}}
    tr
      td
        p(class="title") {{permission}}
      td
        a(href="/permissions/{{_id}}") Add
    | {{/each}}

  .row
    .col-sm-11
    .col-sm-1
      button#deletebtn.btn.btn-warning( type="button" ) Delete
  table#usertbl(class="table table-bordered table-striped")
    tr
      td(width="35%") Username
      td
        a#username(href="#" data-type="text" data-pk="#{user_id}")
    tr
      td Password
      td
        a#password(href="#" data-type="text" data-pk="#{user_id}")
    tr
      td Email
      td
        a#email(href="#" data-type="text" data-pk="#{user_id}")
    tr
      td FirstName
      td
        a#firstName(href="#" data-type="text" data-pk="#{user_id}")
    tr
      td LastName
      td
        a#lastName(href="#" data-type="text" data-pk="#{user_id}")

  ul(class="nav nav-tabs")
    li(class="active")
      a(class="nav nav-tabs" data-toggle="tab" href="#roles-tab") Roles
    li
      a(class="nav nav-tabs" data-toggle="tab" href="#resources-tab") Resources
    li
      a(class="nav nav-tabs" data-toggle="tab" href="#permissions-tab") Permissions

  div(class="tab-content")
    div#roles-tab(class="tab-pane fade in active")
      a#roles(href="#" data-type="checklist" data-pk="#{user_id}")
    div#resources-tab(class="tab-pane fade")
      table#resources(class="table table-striped")
    div#permissions-tab(class="tab-pane fade")
      table#permissions(class="table table-striped")
  //- scripts
  script(type='text/javascript').
    var user_id = '#{user_id}';
  script(src='/js/views/user.js')
